<%- include('../layout/header') %>
	
	<div class="wrapper">
	   <main class="p-3">
			<div class="nav-container">
				<a href="/">
					<iconify-icon icon="material-symbols:home-rounded"></iconify-icon>
				</a>
				<p style="word-break:break-all;">Current Path: <span class="text-muted"><%- storage %>/<%= name %></span></p>
			</div>
			<hr />
			  <% if(content.length < 1) {%>
					<div class="text-center">
						<p class="text-success text-center">This folder is empty</p>
						<img width="70%" class="" src="/images/empty_folder.png" alt="" />
					</div>
			  <% } %>
			  
			  <% for(let i = 0; i < content.length; i++) { %>
			    <a style="word-break:break-all;" class="folder" href=<%- '/'+encodeURI(name)+'/'+encodeURI(content[i]) %> >
	            <iconify-icon class="icon" icon="material-symbols:folder-sharp"></iconify-icon>
					<%= content[i] %>
			    </a>
			  <% } %>		
	   </main>
	
		<%- include('../layout/footer') %>
	</div>